@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/*Barra de navegacion-----------------------------------*/
::-webkit-scrollbar {
  width: 10px;
  z-index: -1;
}
/*Carril*/

.dark::-webkit-scrollbar-track {
  background-color: #0F172A;
}

/*Barra*/
::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;

  border-radius: 10px;
  opacity: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c9c9c9;
  opacity: 10px;
}

.dark::-webkit-scrollbar-thumb {
  background-color: #070B13;
}

.dark::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}
